{% extends 'base.html' %}
{% load static %}
{% block title %}Deletar Cliente{% endblock %}
{% block main %}
<div class="list-group-item-custom">
    <div class="container list-group-item-custom">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="card-title">Tem certeza que deseja deletar o usuario?</h1>
                        <p class="card-text">
                            Nome: {{ cliente.first_name }} {{ cliente.last_name }}<br>
                            Idade: {{ cliente.age }}<br>
                            Salário: {{ cliente.salary }}<br>
                            Bio: {{ cliente.bio }}<br>
                            {% if cliente.photo %}
                        <p class="card-text">
                            <a href="{{ cliente.photo.url }}" target="_blank" class="btn btn-info">
                                Abrir imagem
                            </a>
                        </p>
                        {% else %}
                        <p class="card-text">Nenhuma foto disponível</p>
                        {% endif %}
                        </p>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                        <a href="{% url 'person_list' %}" class="btn btn-primary mt-3">Voltar para a lista de
                            clientes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}